.cover {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    margin: 92px auto 0;
    max-width: calc( 100% - 96px );
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
    }  
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 65px auto 0;
    }  
}
  