.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    z-index: 1;
    margin: 0;
}

@media screen and (max-width: 678px) {
    .cover__title {
        font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
        line-height: calc(35px + (41 + 41 * 0.7) * ((100vw - 320px) / 1280));
    } 
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }  
}
